@font-face {
    font-family: MYA;
    src: url(/fonts/MyriadPro/MYRIADPRO-REGULAR.OTF);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    height: 93vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
body {

    font-family: MYA;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: center center;
    overflow: hidden;


} 

.añadir{
    display: flex;
    width: fit-content;
    height: 1.5rem;
    align-items: center;
}

.foto {
    display: flex;
    height: 2rem;
    align-items: center;
}
.cabecera {
    margin-top: 0.5rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    border-bottom: solid 1px;
}
.refrescar{
    display: flex;
    width: fit-content;
    height: 1.5rem;
    align-items: center;
}
.delete{
    display: flex;
    width: fit-content;
    height: 1.5rem;
    align-items: center;
}
.bug{
    margin-top: 0.194rem;
    display: flex;
    width: fit-content;
    height: 1.6rem;
    align-items: center;
}
.ayuda{
    margin-top: 0.196rem;
    display: flex;
    width: fit-content;
    height: 1.6rem;
    align-items: center;
}
.ajustes{
    margin: 2px;
    gap: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: fit-content;
    
}
.pedro{
    width: 2.8rem;
    height: 2.8rem;
    
}
.o{
    width: fit-content;
    height: 1rem;
   
}
.titulo {
    margin: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 1.5rem;
    font-size: 2rem;
}
.indicadores{
    height: 2rem;
    width: 90%;
    border:1px solid black;
    position: relative;   
    border-radius: 5rem;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0.5rem auto;
    padding-left: 10px;
}
label{
    display: block;
    margin-left: 0.5rem;
    width: 90%;
    text-align: left;
}
.FUNA {
    padding: 2.5rem;
    background-color: rgb(255, 111, 44);
    border: 1px solid black;
    border-radius: 7rem;
    text-align: center;
    position: fixed;
    bottom: 0;
    margin-bottom: 2vw;
}

.FUNA a{
    color: white;
    font-size: 1.5rem;
}
.button{
    transition: all 0.3s ease-out;
}
.confirmacion{
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    visibility: hidden;
    background-color: aliceblue;
}
.confirmacion:target{
    visibility: visible;
    opacity: 1;
}
.modal{
    padding: 1rem;
    background-color: white;
    border-radius: 3rem;
}
.modal h2{
    margin-top: 0;
}




@media screen and (max-width: 430px) {
  .container {
    padding: 1rem;
    height: auto;
  }

  input.indicadores {
    font-size: 0.9rem;
    width: 100%;
  }

  label {
    width: 100%;
    font-size: 0.95rem;
  }

  .FUNA {
    width: 90%;
    font-size: 1rem;
    padding: 1rem;
  }

  .titulo {
    font-size: 1.5rem;
  }
}
