body{ 
    background-image: url("../images/pexels-pixabay-159400@2x.png" );
    background-color: black;
}

.img1{
    position: relative;
    display: flex;
    width: 10vw;
    height: 10vw;
    text-align: center;
    margin: auto;
    margin-top: auto;
    top: 19vw;
    left: 2vw;
    opacity: 0;
    animation: img1 3s 2;
    
}
@media screen {
    
}
@keyframes img1{
    0% {
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
