@font-face {
    font-family: let;
    src: url(../MyriadPro/MyriadPro-Light.otf);
}

body { 
    background-image: url("/images/pexels-pixabay-159400@2x.png" );
    background-color: black;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;
}

.img-1 {
    position: relative;
    display: flex;
    width: 10vw;
    height: 10vw;
    text-align: center;
    margin: auto;
    margin-top: 18vw;
    opacity: 0;
    animation: img1 3s 2;
}

@keyframes img1{
    0% {
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}


.seccion {
    justify-content: center;
    display: flex;
    background-color: white;
    width: 59rem;
    height: 45rem;
    border-radius: 4rem;
    margin-top: 6rem;
    opacity: 0;
    animation: seccion 10s 1;
}

.logo1 {
    display: flex;
    height: 7rem;
    width: 6rem;
    margin-top: 2rem;
    margin-left: 20rem;
    }

    .texto {
        display: flex;
        margin-top: 1rem;
        font-size: 2rem;
        text-align: center;
        margin-left: 11rem;
        font-family: let;
    }

    .contenido {
        display: flex;
        flex-direction: column;
        font-family: let;
    }

    .parrafo {
        display: flex;
        font-size: 1rem;
        text-align: center;
        margin-left: 10rem;
        font-family: let;
        margin-top: -1rem;
    }
    
.usuario {
    display: flex;
    font-size: 20px;
    text-align: center;
    font-family: let;
    margin-top: 1rem;
}

.usu {
    border-radius: 2rem;
    width: 43rem;
    height: 3rem;
}

.usua {
    border-radius: 2rem;
    width: 43rem;
    height: 3rem;
}

.btn {    
    border-radius: 2rem;
    width: 17rem;
    height: 3rem;
    margin-left: 15rem;
    margin-top: 1rem;
}

.fin {
    margin-top:3rem;
}


@keyframes seccion{
    51% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}