@font-face {
    font-family: MYA;
    src: url(/fonts/MyriadPro/MYRIADPRO-REGULAR.OTF);
}
body{

    font-family: MYA;
    margin: 0%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: center center;

    
}
.añadir{
    display: flex;
    width: 3rem;
    height: 3rem;
    align-items: center;
}

.foto {
    display: flex;
    width: 3rem;
    height: 3rem;
    align-items: center;
}
.cabecera {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
    align-content: center;
}
p{
    margin-left: 0.5rem;
    font-size: 1rem;
}
.refrescar{
    display: flex;
    width: 3rem;
    height: 3rem;
    align-items: center;
}
.delete{
    display: flex;
    width: 3rem;
    height: 3rem;
    align-items: center;
}
.bug{
    display: flex;
    width: 3rem;
    height: 3rem;
    align-items: center;
}
.ayuda{
    display: flex;
    width: 3rem;
    height: 3rem;
    align-items: center;
}
.ajustes{
    margin: 2px;
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}
.pedro{
    width: 3rem;
    height: 3rem;
    
}
.o{
    width: 1.5rem;
    height: 1.5rem;
   
}
hr{
    margin: 1.5;
    width: 116rem;
}
.indicadores{
    height: 4rem;
    width: 100em;
    border:1px solid black;
    position: relative;   
    border-radius: 5rem;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: auto;
}

.titulo{
    margin: 1%;
    display: flex;
    justify-content: center;
    text-align: center;
    
}




@media only screen and (max-width:600px){

}


